In [ ]:
#input function
l=int(input('enter l:'))
b=int(input('enter b:'))
a=(l*b)
print(a)

enter l:4
enter b:3
12

In [ ]:
#input function
a=int(input("enter a number:"))
b=int(input("enter b number:"))
s=(a+b)
print(s)
d=(a-b)
print(d)
p=(a*b)
print(p)
r=(a/b)
print(r)

enter a number:12
enter b number:4
16
8
48
3.0

In [ ]:
F=float(input('enter a number :'))
C=(F-32)*5/9
print(C)

enter a number :50
10.0

In [ ]:
C=float(input('enter a number:'))
F=(C*9/5)+32
print(F)

enter a number:30
86.0

In [ ]:
num= float(input('enter a number :'))
if num >0:
 print("positive ")
elif num>0:
 print ("negative")
else:
 print("zero")

enter a number :4
positive

In [ ]:
y=int(input ('enter a year :'))
if y%4==0:
 print('it is a leap year')
elif y%4!=0:
 print ('it is not a leap year ')
elif y%400==0:
 print('it is  a leap year')
elif y%400!=0:
 print ('it is not a leap year ')

enter a year :2008
it is a leap year

In [ ]:
for n in range(10,0,-1):
  print(n)

10
9
8
7
6
5
4
3
2
1

In [ ]:

mark = int(input("Enter your mark: "))

if mark >= 90:
    print("A")
elif mark >= 80:
    print("B")
elif mark >= 70:
    print("C")
elif mark >= 60:
    print("D")
else:
    print("F")

Enter your mark: 75
C

In [ ]:
for n in range(2,20,2):
  print(n)

2
4
6
8
10
12
14
16
18

In [ ]:

num = int(input("Enter a number: "))

for i in range(1, 11):
    print(num, "x", i, "=", num*i)

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50