In [ ]:
#input function
a=int(input("enter first number:"))
b=int(input("enter second number:"))
s=a+b
print(s)

enter first number:5
enter second number:4
9

In [ ]:
#input function
a=int(input("enter first number:"))
b=int(input("enter second number:"))
s=a*b
print(s)

enter first number:2
enter second number:4
8

In [ ]:
#input function
a=int(input("enter first number:"))
b=int(input("enter second number:"))
q=a/b
r=a%b
print(q)
print(r)

enter first number:4
enter second number:2
2.0
0

In [ ]:
s1='anusha'

In [ ]:
len(s1)

6

In [ ]:

string = input("Enter a string: ")
character = input("Enter a character to find: ")
count = 0
for char in string:
    if char == character:
        count += 1
print("The character", character, "occurs", count, "times in the string.")

Enter a string: ANUSHA
Enter a character to find: A
The character A occurs 2 times in the string.

In [ ]:
s2='aNusha'

In [ ]:
s2.upper()

'ANUSHA'

In [ ]:
s2.lower()

'anusha'